/* font-family: 'Outfit', sans-serif;

font-family: 'Roboto', sans-serif; */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

.header{
  width: 100%;
  height: 100vh;
  background: #020412;
  color: #fff;
  position: relative;
  padding: 0 8.5%;
}

/* navbar */

nav{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 10px;
}

.logo{
  width: 190px;
  cursor: pointer;
}

.menu-icon{
  width: 35px;
  cursor: pointer;
}

nav ul{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a{
  color: #fff;
  text-decoration: none !important;
  letter-spacing: 1px;
  font-size: 17px;
}

nav ul li a:hover{
  color: #fff724;
}



/* About section */

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.about{
  background: url(images/profpic1.jpeg) no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
}

h1{
  color: #fff724;
  font-weight: 800 !important;
}
.inner-section{
  width: 55%;
  float: right;
  background-color: #000;
  padding: 140px;
  box-shadow: 13px 12px 8px rgba(0,0,0,0.3);
}
.inner-section h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}
.text{
  font-size: 21px;
  color: #fff;
  font-family: 'Outfit', sans-serif;
  line-height: 31px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills button a{
  text-decoration: none;
  color: #fff724;
}
.skills button{
  font-size: 19px;
  font-family: 'Outfit', sans-serif;
  text-align: center;
  letter-spacing: 1px;
  border: none;
  border-radius: 20px;
  padding: 8px;
  width: 200px;
  border: 2px solid #fff724;
  background: #000;
  cursor: pointer;
}
.skills button a:hover{
  transition: 1s;
  background-color: #fff724;
  color: #000;
}
@media screen and (max-width:1200px){
  .inner-section{
      padding: 80px;
  }
}
@media screen and (max-width:1000px){
  .about{
      background-size: 100%;
      padding: 100px 40px;
  }
  .inner-section{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .about{
      padding: 0;
  }
  .inner-section{
      padding: 60px;
  }
  .skills button{
      font-size: 19px;
      padding: 5px;
      width: 160px;
  }
}