/* font-family: 'Outfit', sans-serif;

font-family: 'Roboto', sans-serif; */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

:root{
	--bg-color: #020312;
	--text-color: #fff;
	--main-color: #6246ea;
	--second-color: gray;
	--other-color: #12141c;
	--h1-font: 5.2rem;
	--h2-font: 3.5rem;
	--p-font: 1.1rem;
}

.header{
  width: 100%;
  height: 100vh;
  background: #020412;
  color: #fff;
  position: relative;
  padding: 0 8.5%;
}

/* navbar */

nav{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 10px;
}

.logo{
  width: 190px;
  cursor: pointer;
}

.header a{
  text-decoration: none;
}
.header h3{
  color: #6246ea;
  font-weight: 800;
  font-size: 21px;
}

#diamond{
  font-size: 19px;
  color: #6246ea;
  text-decoration: none;
}

/* .menu-icon{
  width: 35px;
  cursor: pointer;
} */

nav ul{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a{
  color: #fff;
  text-decoration: none !important;
  letter-spacing: 1px;
  font-size: 17px;
}

nav ul li a:hover{
  color: #6246ea;
}


/* Portfolio */

#portfolio{
  background: #020412 !important;
  padding-left: 10%;
  padding-right: 10%;
}

.portfolio-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(410px, auto));
	align-items: center;
	gap: 5rem;
	margin-top: 5rem;
}

.btn-right{
  text-align: right;
}

.btn{
  width: fit-content;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  background: #6246ea;
  color: #fff;
  transition: background 0.5s;
  }
  
  .btn:hover{
  background: transparent;
  color: #fff;
  border: 2px solid #6246ea;
  }

.row img{
	height: 350px;
	width: 550px;
	margin-bottom: 1.5rem;
}
.row{
	padding: 55px;
	background: #12141c;
	transition: all .40s ease;
}
.main-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}
.row h3{
	font-size: 25px;
	font-weight: 700;
}
.row h6{
	color: var(--main-color);
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
}
.row-icon i{
	font-size: 21px;
}
.row:hover{
	transform: scale(1.01) translateY(-5px);
	cursor: pointer;
}

/* .heading-port{
  font-size: 3.4rem;
  font-weight: 800;
  letter-spacing: 1px;
  color: #6246ea;
}

.sub-heading{
  color: #6246ea;
  font-weight: 400 !important;
  font-size: 21px;
}

.portfolio-header{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
} */
