/* font-family: 'Outfit', sans-serif;

font-family: 'Roboto', sans-serif; */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

.header{
  width: 100%;
  height: 100vh;
  background: #020412;
  color: #fff;
  position: relative;
  padding: 0 8.5%;
}

/* navbar */

nav{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 10px;
}

.logo{
  width: 190px;
  cursor: pointer;
}

/* .menu-icon{
  width: 35px;
  cursor: pointer;
} */

nav ul{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a{
  color: #fff;
  text-decoration: none !important;
  letter-spacing: 1px;
  font-size: 17px;
}

nav ul li a:hover{
  color: #fff724;
}



/* landing */

.text-box{
  margin-top: 15%;
  font-size: 17px;
  letter-spacing: 1px;
  padding-left: 70px;
  line-height: 10px;
}

.text-box h1{
  font-size: 85px;
  line-height: 90px;
  font-family: 'Outfit', sans-serif;
  font-weight: 800;
}

.text-box p{
  line-height: 31px;
  font-size: 21px;
}

.text-box a{
  margin-top: 17px;
  display: inline-block;
  border-radius: 6px;
  border: 2px solid #fff724;
  color: #fff724;
  padding: 10px 30px;
  text-decoration: none;
}

.text-box .butt{
  background: #fff724;
  color: #000;
  font-weight: 600;
}

.user-img{
  width: 540px;
  position: absolute;
  right: 13%;
  bottom: 0;
}

.auto-input{
  color: #fff724;
  font-weight: 900;
}

.icons{
  margin-right: 45%;
  margin-left: 4%;
  padding-top: 2%;
}

.icons .fa {
  margin: 0 13px;
  padding: 18px 0;
  cursor: pointer;
  color: #fff724;
  text-decoration: none;
}

/* action-call */

.action-call{
  background: #020412;
}

h2{
  color: #fff;
  text-align: center;
  font-weight: 800;
  padding-top: 7%;
}

