/* font-family: 'Outfit', sans-serif;

font-family: 'Roboto', sans-serif; */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

.header{
  width: 100%;
  height: 100vh;
  background: #020412;
  color: #fff;
  position: relative;
  padding: 0 8.5%;
}

/* navbar */

nav{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 10px;
}

.logo{
  width: 190px;
  cursor: pointer;
}

/* .menu-icon{
  width: 35px;
  cursor: pointer;
} */

nav ul{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a{
  color: #fff;
  text-decoration: none !important;
  letter-spacing: 1px;
  font-size: 17px;
}

nav ul li a:hover{
  color: #6246ea;
}



/* landing */

.text-box{
  margin-top: 5%;
  font-size: 17px;
  letter-spacing: 1px;
  padding-left: 65px;
  line-height: 10px;
}

.text-box h1{
  font-size: 66px;
  line-height: 90px;
  font-family: 'Outfit', sans-serif;
  font-weight: 800;
}

.text-box p{
  line-height: 31px;
  font-size: 21px;
  font-weight: 500;
}

.text-box a{
  margin-top: 17px;
  display: inline-block;
  border-radius: 6px;
  border: 2px solid #6246ea;
  color: #6246ea;
  padding: 10px 30px;
  text-decoration: none;
}

.text-box .butt{
  background: #6246ea;
  color: #000;
  font-weight: 600;
}

.user-img{
  width: 980px;
  position: absolute;
  right: 1%;
  bottom: 0;
}

.auto-input{
  color: #6246ea;
  font-weight: 900;
}

/* .icons{
  margin-right: 45%;
  margin-left: 4%;
  padding-top: 2%;
} */

.icons{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
  padding-right: 3%;
  margin-top: -11.5%;
}

.icons .fa {
  margin: 0 13px;
  padding: 18px 0;
  cursor: pointer;
  color: #6246ea;
  text-decoration: none;
}

/* action-call */

.action-call{
  background: #020412;
}

h2{
  color: #fff;
  text-align: center;
  font-weight: 800;
  padding-top: 7%;
}


/* contact section */

#contact{
  background: #020412;
}

.sub-title{
  color: #6246ea;
  font-weight: 800 !important;
  margin-top: 55%;
}

.contact-left{
  flex-basis: 40%;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left p{
  margin-top: 15px;
  color: #ababab;
}

.contact-left p i{
  color: #6246ea;
  margin-right: 10px;
  font-size: 20px;
}

.social-icons{
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-icons a{
  text-decoration: none;
  font-size: 20px;
  margin-right: 13px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: #6246ea;
  transform: translateY(-5px);
}

.btn.btn2{
  display: inline-block;
  background: #6246ea;
  font-size: 17px;
  font-weight: 600;
}

.contact-right form{
  width: 100%;
  margin-top: 37%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 17px;
  border-radius: 6px;
}

form .btn2{
  padding: 14px 60px;
  font-size: 19px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}


/* copyright */

.copyright{
  color: #6246ea;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: #262626;
  margin-top: 30px;
  font-weight: 400;
  word-spacing: 5px;
}

.copyright i{
  color: #6246ea;
}


/* media query */

@media only screen and (max-width: 600px){
  .text-box{
    margin-top: 100%;
    font-size: 16px;
  }

  .text-box h1{
    font-size: 16px;
  }
}