/* font-family: 'Outfit', sans-serif;

font-family: 'Roboto', sans-serif; */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.header{
  width: 100%;
  height: 100vh;
  background: #020412;
  color: #fff;
  position: relative;
  padding: 0 8.5%;
}

/* navbar */

nav{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 10px;
}

.logo{
  width: 190px;
  cursor: pointer;
}

.menu-icon{
  width: 35px;
  cursor: pointer;
}

nav ul{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a{
  color: #fff;
  text-decoration: none !important;
  letter-spacing: 1px;
  font-size: 17px;
}

nav ul li a:hover{
  color: #fff724;
}



/* landing */

.text-box{
  margin-top: 15%;
  font-size: 17px;
  letter-spacing: 1px;
  padding-left: 70px;
  line-height: 10px;
}

.text-box h1{
  font-size: 75px;
  line-height: 90px;
  font-family: 'Outfit', sans-serif;
  font-weight: 800;
}

.text-box p{
  line-height: 30px;
  font-size: 19px;
}

.text-box a{
  margin-top: 10px;
  display: inline-block;
  border-radius: 6px;
  border: 2px solid #fff724;
  color: #fff724;
  padding: 10px 30px;
  text-decoration: none;
}

.text-box .butt{
  background: #fff724;
  color: #000;
  font-weight: 600;
}

.user-img{
  width: 540px;
  position: absolute;
  right: 13%;
  bottom: 0;
}

.auto-input{
  color: #fff724;
  font-weight: 900;
}


/* about */

#about{
  padding: 80px 0;
  background: #020412;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 35%;
}

.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}

.about-col-2{
  flex-basis: 60%;
}

.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}