/* font-family: 'Outfit', sans-serif;

font-family: 'Roboto', sans-serif; */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

.header{
  width: 100%;
  height: 100vh;
  background: #020412;
  color: #fff;
  position: relative;
  padding: 0 8.5%;
}


/* navbar */

nav{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 10px;
}


.logo{
  width: 190px;
  cursor: pointer;
}

h3{
  color: #6246ea;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none !important;
}

#diamond{
  font-size: 19px;
}

.header a{
  text-decoration: none;
}
/* .menu-icon{
  width: 35px;
  cursor: pointer;
} */

nav ul{
  flex: 1;
  text-align: right;
  padding-right: 40px;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  height: 100%;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a{
  color: #fff;
  text-decoration: none !important;
  letter-spacing: 1px;
  font-size: 17px;
}

nav ul li a:hover{
  color: #6246ea;
}




/* landing */

.text-box{
  margin-top: 10%;
  font-size: 17px;
  letter-spacing: 1px;
  padding-left: 60px;
  line-height: 10px;
}

.text-box h1{
  font-size: 66px;
  line-height: 90px;
  font-family: 'Outfit', sans-serif;
  font-weight: 800;
}

.text-box p{
  line-height: 31px;
  font-size: 21px;
  font-weight: 500;
}

.text-box a{
  margin-top: 17px;
  display: inline-block;
  border-radius: 6px;
  border: 2px solid #6246ea;
  color: #6246ea;
  padding: 10px 30px;
  text-decoration: none;
}

.text-box .butt{
  background: #6246ea;
  color: #000;
  font-weight: 600;
}

.user-img{
  width: 999px;
  position: absolute;
  right: 0.2%;
  bottom: 0;
}

.auto-input{
  color: #6246ea;
  font-weight: 900;
}

.icons{
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
  padding-right: 3%;
  margin-top: -11.5%;
}

.icons .fa {
  margin: 0 13px;
  padding: 18px 0;
  cursor: pointer;
  color: #6246ea;
  text-decoration: none;
}

#fa{
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
}


/* Services */
#services{
  background: #020412;
  padding: 30px 0;
}

#services .container{
  margin-bottom: 10%;
}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 10px;
}

.sub-t{
  color: #6246ea;
  font-weight: 800 !important;
  text-align: center;
}

h2{
  color: #fff;
  font-weight: 800;
  padding-top: 7%;
}

.services-list p{
  color: #fff;
}

.services-list div{
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i{
  font-size: 40px;
  margin-bottom: 10px;
  color: #fff;
}

.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover{
  background: #6246ea;
  transform: translateY(-10px);
}



/* skills section */

#skills{
  background: #020412;
  color: #fff;
}

#skills h1{
  color: #6246ea;
  font-weight: 800 !important;
  text-align: center;
  font-family: 'Outfit', sans-serif;
}
.skills .container{
  width: 50%;
}

.skills .container .skill{
  margin-bottom: 0.5rem;
}

.skills .skill .head{
  background: #6246ea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
}

.skills .skill .head .left{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skills .skill .items{
  display: none;
}

/* for JS show/hide items */
.skills .container .skill .items.show-items{
  display: block;
}


.skills .skill .item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.6rem;
  /* background: #020412; */
  margin-bottom: 0.3rem;
  transition: transform 0.5s;
}

.skills .skill .item:hover{
  background: #b3a4d4;
}

.skills .skill .progress-area{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skills .skill .progress-bar{
  width: 100%;
  height: 1rem;
  background: #fff;
}

.skills .skill .progress-bar .progress{
  height: 100%;
  width: 80%;
  background: #6246ea;
}

.skills .item:nth-child(2) .progress-bar .progress{
  width: 75%;
}

.skills .item:nth-child(3) .progress-bar .progress{
  width: 70%;
}

.skills .item:nth-child(4) .progress-bar .progress{
  width: 70%;
}

.skills .item:nth-child(5) .progress-bar .progress{
  width: 70%;
}



/* contact section */

section.contact{
  background: url("images/contact2.jpg") no-repeat center center/cover;
  padding: 0;
  max-width: 100vw;
  margin-top: 10%;
  border-radius: 10px;
}

section.contact .overlay{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  padding: 5rem 0 3rem;
}

section.contact .container{
  width: 40%;
}

section.contact .container h1{
  color: #fff !important;
  font-weight: 800 !important;
  font-size: 60px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
}

section.contact .container p{
  font-size: 21px;
  font-weight: 600;
  opacity: 0.8;
  margin-top: 0.5rem;
}

section.contact form{
  margin-top: 3rem;
}

section.contact form input,
section.contact form textarea{
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1.4rem;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 5px;
}


/* #contact{
  background: #020412;
}

.sub-title{
  color: #6246ea;
  font-weight: 800 !important;
  margin-top: 55%;
}

.contact-left{
  flex-basis: 40%;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left p{
  margin-top: 15px;
  color: #ababab;
}

.contact-left p i{
  color: #6246ea;
  margin-right: 10px;
  font-size: 20px;
}

.social-icons{
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-icons a{
  text-decoration: none;
  font-size: 20px;
  margin-right: 13px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: #6246ea;
  transform: translateY(-5px);
}

.btn.btn2{
  display: inline-block;
  background: #6246ea;
  font-size: 17px;
  font-weight: 600;
}

.contact-right form{
  width: 100%;
  margin-top: 37%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 17px;
  border-radius: 6px;
}

form .btn2{
  padding: 14px 60px;
  font-size: 19px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
} */


/* copyright */

/* .copyright{
  color: #6246ea;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: #262626;
  margin-top: 30px;
  font-weight: 400;
  word-spacing: 5px;
}

.copyright i{
  color: #6246ea;
} */


/* media query */

@media only screen and (max-width: 600px){
  .text-box{
    margin-top: 100%;
    font-size: 16px;
  }

  .text-box h1{
    font-size: 16px;
  }
}